body {
  background-color: #fff;
  padding: 1em 7em;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dedede;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aeaeae;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

main {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

#title {
  text-transform: capitalize;
  text-align: center;
}

#title h2 {
  text-transform: capitalize;
}

#instructions h3 {
  margin-bottom: 0;
}

#form-errors {
  opacity: 0;
  padding: 0.5em 0;
  transition: 0.5s;
}

#form-errors:empty {
  padding: 0;
  transition: 0.5s;
}

#form-errors.error {
  color: red;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

#form-errors.error ~ input[type="text"] {
  border: 1px solid red;
}

.row {
  margin: 1em 0;
}

/* For the button that toggles the instructions */
#instructionsButton {
  background-color: #ffeb68;
  padding: 1em;
  color: black;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

#instructionsButton:hover {
  background-color: #fff09a;
}

/* For the three main columns */
.column {
  width: 50%;
  float: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.input-container {
  margin: 1em 0;
}

#user-input {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  border: 1px solid;
}

#guess-button {
  background-color: #008cba;
  padding: 1em;
  color: white;
  border: 1px solid #008cba;
  min-width: 25%;
}

select {
  width: 100px;
  height: 40px;
  background-color: #9ad9f7;
}

option {
  background-color: white;
}

#scroll-table {
  display: block;
  overflow-y: overlay;
  height: 45vh;
  width: 100%;
}

table {
  background-color: white;
  border: 1px solid #3cbc8d;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

tr {
  border: 1px solid #3cbc8d;
}

td,
th {
  border: 1px solid #3cbc8d;
  text-align: left;
  padding: 5px;
}

th {
  background-color: #3cbc8d;
  border: 1px solid #eaeaea;
  color: white;
}

@media only screen and (max-width: 992px) {
  body {
    padding: 1em;
  }

  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }

  .column:first-of-type {
    width: 75%;
  }
  .column:nth-of-type(2) {
    width: 25%;
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
