body {
	background-color: PaleGreen;
}

#title {
	text-align: center;
}

#title h2 {
	text-transform: capitalize;
}

#instructions h3 {
	margin-bottom: 0;
}

#game-form {
	text-align: center;
}

#form-errors {
    height: 1em;
    opacity:0;
}

#form-errors.error {
    color: red;
    opacity: 1;
    -webkit-transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
}

#form-errors.error~input[type=text] {
    border: 1px solid red;
}

#guessButton {
	background-color: #008CBA;
	padding: 13px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	color: white;
	border: none;
	cursor: pointer;
}

/* For the button that toggles the instructions */

#instructionsButton {
	background-color: #f2ff00;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	color: black;
	border: none;
	cursor: pointer;
}


/* For the three main columns */

.collumn {
	float: left;
	width: 33%;
}


/* Clear floats after the columns */

.row:after {
	content: "";
	display: table;
	clear: both;
}

div {
	margin-top: 1%;
}

input[type=text] {
	width: 150px;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	background-color: #3CBC8D;
	color: white;
}

select {
	width: 100px;
	height: 40px;
	background-color: DodgerBlue;
}

#table-wrapper {
	display: block;
	overflow-y: auto;
	height: 500px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

table {
	background-color: Aquamarine;
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}

td,
th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 5px;
}

th {
	background-color: #4CAF50;
	color: white;
}

tr:nth-child(even) {
	background-color: DarkTurquoise;
}